<header class="jumbotron">
  <div class="row row-header">
    <h1><i class="fa fa-file"></i>  CV Tech</h1>
  </div>
</header>
<br/>

<div class="row">

  <div class="col-md-6 col-sm-3">
    <app-list-cv (selectedPersonne)="selectPersonne($event)" [personnes]="personnes"></app-list-cv>
  </div>

  <div class="col-md-6 col-sm-9">
    <app-detail-cv *ngIf="selectedPersonne"
     [personne]="selectedPersonne" ></app-detail-cv>
  </div>

</div>
<div class="row">La liste des CVs séléctionnés pour embauche </div>
<div class="row">

    <app-embauche></app-embauche>

</div>
